{% extends 'base.html' %}{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
	<div class="row">
		<ol class="breadcrumb">
			<li>
				<a href="#">
					<em class="fa fa-home"></em>
				</a>
			</li>
			<li class="active">UI Elements</li>
		</ol>
	</div>
	<!--/.row-->

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">UI Elements</h1>
		</div>
	</div>
	<!--/.row-->

	<div class="panel panel-default">

		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-2">
						<img class="d-block w-40 h-30" src="https://www.presentermedia.com/files/animsp/00015000/15966/office_worker_hard_at_work_anim_md_wm.gif"
						 alt="First slide" style="position: relative;">
					</div>
					<div class="col-lg-10">
						<ul class="list-group">
							<li class="list-group-item disabled">Davolio Nancy</li>
							{% for jobs in jobset.1 %}
							<li class="list-group-item disabled">{{jobs}}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-2">
						<img class="d-block w-40 h-30" src="https://3.bp.blogspot.com/-O-OysPmGAys/WRHkuWExPVI/AAAAAAAAABc/_tn_OZO71Rwqiv9m247WX7rG1Bxm-WfeQCLcB/s1600/businessman_multi_tasking.gif"
						 alt="First slide" style="position: relative;">
					</div>
					<div class="col-lg-10">
						<ul class="list-group">
							<li class="list-group-item disabled">Leverling Janet</li>
							{% for jobs in jobset.3 %}
							<li class="list-group-item disabled">{{jobs}}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-2">
						<img class="d-block w-40 h-30" src="https://www.presentermedia.com/files/animsp/00005000/5432/two_chatting_in_cubicle_md_wm_v2.gif"
						 alt="First slide" style="position: relative;">
					</div>
					<div class="col-lg-10">
						<ul class="list-group">
							<li class="list-group-item disabled">Peacock Margaret</li>
							{% for jobs in jobset.4 %}
							<li class="list-group-item disabled">{{jobs}}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-2">
						<img class="d-block w-40 h-30" src="https://www.presentermedia.com/files/animsp/00013000/13556/robot_arm_move_objects_md_wm.gif"
						 alt="First slide" style="position: relative;">
					</div>
					<div class="col-lg-10">
						<ul class="list-group">
							<li class="list-group-item disabled">Buchana Steve</li>
							{% for jobs in jobset.5 %}
							<li class="list-group-item disabled">{{jobs}}</li>
							{% endfor %}
						</ul>
					</div>
				</div>


			</div>

		</div>

	</div>
	<!-- /.panel-->

</div>
<!-- /.col-->
<div class="col-sm-12">
	<p class="back-link">Lumino Theme by
		<a href="https://www.medialoot.com">Medialoot</a>
	</p>
</div>
</div>
<!-- /.row -->

</div>
<!--/.main-->
{% endblock %}